@import './config/reset.scss';
@import './partials/product.scss';
@import './partials/monitor.scss';
@import './partials/wallet.scss';

* {
  box-sizing: border-box;
}

.container {
  height: 800px;
}
.container,
.vending-machine {
  display: flex;
}
