<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %>
    </head>
    <body>
        <div class="container py-3">
            <div class="row">
                <div class="col-sm text-center border">
                    <!-- <p class="h6">상품화면</p> -->
                    <ul class="product-container my-2" id="productWrapper">
                    </ul>
                </div>
                <div class="col-sm text-center border">
                    <p class="h6">진행화면</p>
                    <button class="btn btn-primary">1</button>
                </div>
                <div class="col-sm text-center border">
                    <p class="h6">지갑화면</p>
                    <button class="btn btn-primary">1</button>
                </div>
            </div>
        </div>
    </body>
</html>
