<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %>
    </head>
    <body class="body">

        <div class="container py-3 my-5">
            <div class="row">
                <div class="col-sm text-center pr-0">
                    <!-- <p class="h6">상품화면</p> -->
                    <div class="product-container">
                    <ul class="product-grid my-1" id="productWrapper"></ul>
                    </div>
                </div>
                <div class="col-sm text-center pr-0">
                    <div class="progress-container py-3">
                        <div class="progress-current-value my-4 w-75  m-auto">원</div>
                        <i class="fas fa-undo-alt"></i>
                        <button class="btn btn-warning px-3 my-4">반환</button>
                        <div class="progress-current-status my-4 w-75 m-auto">
                            <span>500원이 투입됐음</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div class="wallet-cotainer">
                        <ul class="wallet-grid m-auto p-3" id="walletWrapper"></ul>
                        <div class="wallet-total m-auto" id="budgetContainer">23,550원</div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>