.messages-section {
  @extend .flex-display;
  border: $default-border;
  border-radius: $default-border-radius;
  width: 100%;
  height: 100%;
  padding: $components-padding;
  margin: $components-margin;
}

.message {
  @extend .default-font;
  font-size: 16px;
  padding: $components-padding;
}
