.item {
  width: 100%;
  min-height: 85px;
  border: 1px solid black;
  padding: 10px 10px;
  
  display:flex;

  &.is-sold-out {
    border: 1px solid red;
  }
  &.is-able-to-buy {
    border: 1px solid green;
  }
}
