$background: #222;
$defaultButtonWidth: 77px;
$defaultButtonHeight: 50px;
$defaultFontSize: 16px;
$defaultBorderRadius: 10px;
$defaultButtonMargin: 5px;
@mixin defaultBorder {
  border: 1px solid #fff;
}

body {
  background: $background;
}

.vending-machine {
  max-width: 512px;
  min-width: 512px;
  height: fit-content;
  @include defaultBorder();
  border-radius: 10px;
  margin: 40px;
  padding: 10px;
  background: #333;
}

.order--title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  @include defaultBorder();
  border-radius: $defaultBorderRadius;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.order--button__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include defaultBorder();
  border-radius: $defaultBorderRadius;
  padding: 5px;

  .list-group-item:last-child {
    margin: $defaultButtonMargin;
  }
}

.order--button__box {
  text-align: center;
  border-radius: 4px;
  margin: $defaultButtonMargin;

  .order--button {
    width: $defaultButtonWidth;
    height: $defaultButtonHeight;
  }

  .order--price {
    text-align: center;
    padding-top: 5px;
  }
}

.operating--window__container {
  @include defaultBorder();
  border-radius: $defaultBorderRadius;
  padding: 5px;
  margin-top: 10px;
  height: fit-content;

  .form-group-div {
    display: block;
  }

  .insert--money__form {
    padding: 5px;
  }
  .insert--money__input {
    width: 100%;
    height: 80px;
  }

  input::placeholder {
    text-align: right;
    font-size: 2rem;
  }

  input {
    font-size: 2rem;
  }
}
