.product-container {
    border: 1px solid #9e9700;
    height: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-item-container {
    border-radius: 5px;
    margin: 5px 5px;
    width: 100px;
    background-color: #fff;

    button {
        display: block;
        color: #fff;
        background-color: #9e9700;
        height: 25px;
        border: none;
        border-radius: 5px;
        margin: auto;
        font-size: 0.6em;

        span {
            font-size: 0.5em;
        }
    }
}

.item-price {
    font-size: 1em;
    color: #9e9700;
}
