.current-money-section {
  @extend .flex-display;
  align-items: flex-end;
  border: $default-border;
  border-radius: $default-border-radius;
  width: 100%;
  padding: $components-padding;
  margin: $components-margin;
}

.current-money {
  @extend .default-font;
}
