.wallet {
  border: 1px solid black;
  & > div {
    margin-top: 30px;
    display: flex;
    padding: 10px;
    .wallet__money-type {
      border: 1px solid black;
      margin-right: 10px;
    }
    .wallet__type-count {
      border: 1px solid black;
    }
  }
  .wallet__total-money {
    border: 1px solid black;
  }
}
