.progress-screen {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;

  .money-sum {
    display: block;
    width: 100%;
    height: 40px;
    text-align: right;
    background-color: black;

    .sum,
    .currency {
      font-size: 28px;
      color: green;
    }
  }

  .log-list {
    flex: 0 1 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: 1px solid black;

    &__item {
      height: 24px;
      font-size: 18px;
    }
  }
}
